S3method(margEff,polywog)
S3method(plot,margEff.polywog)
S3method(plot,polywog)
S3method(plot,preplot.polywog)
S3method(predict,polywog)
S3method(print,polywog)
S3method(print,summary.margEff.polywog)
S3method(print,summary.polywog)
S3method(summary,margEff.polywog)
S3method(summary,polywog)
S3method(vcov,polywog)
export(bootPolywog)
export(control.bp)
export(cv.polywog)
export(polym2)
export(polywog)
export(predVals)
export(rawpoly)
import(foreach)
importFrom(Rcpp,sourceCpp)
importFrom(games,Mode)
importFrom(miscTools,margEff)
importFrom(stringr,str_split)
importMethodsFrom(Matrix,colMeans)
importMethodsFrom(Matrix,t)
useDynLib(polywog)
