S3method(margEff,polywog)
S3method(model.frame,polywog)
S3method(model.matrix,polywog)
S3method(plot,margEff.polywog)
S3method(plot,polywog)
S3method(plot,preplot.polywog)
S3method(predict,polywog)
S3method(print,polywog)
S3method(print,summary.margEff.polywog)
S3method(print,summary.polywog)
S3method(summary,margEff.polywog)
S3method(summary,polywog)
S3method(vcov,polywog)
export(bootPolywog)
export(control.bp)
export(cv.polywog)
export(polywog)
export(predVals)
import(Formula)
import(foreach)
import(glmnet)
import(iterators)
import(ncvreg)
importFrom(Matrix,Matrix)
importFrom(Matrix,cBind)
importFrom(Rcpp,sourceCpp)
importFrom(miscTools,margEff)
importFrom(stringr,str_split)
importMethodsFrom(Matrix,rowMeans)
importMethodsFrom(Matrix,t)
useDynLib(polywog)
